<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tele 2</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<img style="height: 150px; width: 100%;" src="static/img/tele2.jpg" />
<nav>
    <ul style="list-style-type:circle;" >
        <li style="font-family: Arial"><a href="/">Početna</a></li>
        <li style="font-family: Arial"><a href="/o-nama">O nama</a></li>
        <li style="font-family: Arial"><a href="/mobiteli">Mobiteli i tarife</a></li>
    </ul>
</nav>

    {% block content %}
    {% endblock content %}

</body>
</html>