{% extends "base.html" %}

{% block content %}
<center>

<h1 style="font-family: Arial">O nama</h1>

<p style="font-family: Arial">Tele2 je telekomunikacijska tvrtka koja se bavi GSM mobilnom komunikacijom.
    <br>Matična tvrtka osnovana je 1993., posluje u 11 zemalja i ima više od 24 milijuna korisnika.<br>
    Započela je s radom u Švedskoj 1993. a u Hrvatskoj 2005. godine.<br>
    U Hrvatskoj u 2015. godini broji 823.480 korisnika.</p>



<img src="static/img/1.jpg" width="300" height="200"/>

<img src="static/img/2.jpg" width="300" height="200"/>
</center>

{% endblock content %}